.teamMemberContainer {
  @include neumorphism;
  width: 190px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  @media (max-width: 600px) {
    width: 150px;
    height: 170px;
    gap: 0;
  }
}

.imageContainer {
  width: 160px;
  height: 160px;
  position: relative;
  .image {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 160px;
    height: 160px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.2em;
  text-align: center;
  @include backgroundTitleGradientColor;
}

.description {
  font-size: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .imageContainer {
    width: 110px;
    height: 110px;

    img {
      width: 110px;
      height: 110px;
    }
  }

  .name,
  .description {
    font-size: 0.8em;
  }
}
