%heading {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

%paragraph {
  font-weight: 400;
  text-transform: capitalize;
}

%paragraphBold {
  font-weight: bold;
}

%neumorphism {
  background-color: $background-main;
  border-radius: rem(10px);
  box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
  transition: all 0.3s ease-in-out;
  outline: none;
}

%neumorphismActive {
  box-shadow: inset -5px -5px 10px #c8d1da, inset 5px 5px 10px #ffffff;
}
