.Chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 7px;
}

//media query TABLETS & LAPTOPS
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .Chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 10px;
  }
}

//media query Desktop
@media screen and (min-width: 1024px) {
  .Chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 300px;
    position: relative;
    padding: 10px;
  }
}