.Menu {
  width: 100%;
  height: auto;
}

.closeBtn {
  @extend %neumorphism;
  width: rem(65px);
  height: rem(55px);
  border: none;
  cursor: pointer;

  &:active {
    @extend %neumorphismActive;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin-top: rem(30px);
}

.wrapper {
  width: 100%;
  @include flexboxCenter();
  gap: rem(20px);
}

.image {
  @extend %neumorphism;
  @include flexboxCenter();
  width: rem(70px);
  height: rem(70px);
  border-radius: 100%;
  overflow: hidden;
}

.text {
  width: 70%;
  @include flexboxCenterColumn();
  gap: rem(14px);

  &__name {
    width: 100%;
    @extend %heading;
  }

  &__accountType {
    width: 100%;
    @extend %paragraphBold;
    font-size: $paragraphExtraSmall;
    text-transform: uppercase;
  }
}

.menuList {
  width: 100%;
  margin-top: rem(30px);
}

.menuList__content {
  @include flexboxCenter();
  @extend %neumorphism;
  @extend %paragraphBold;
  width: 90%;
  height: auto;
  padding: rem(10px) $paddingMedium;
  justify-content: flex-start;
  margin-bottom: rem(10px);
  font-size: $paddingSmall;

  &:active {
    @extend %neumorphismActive;
  }
}
