.InfoCard {
  max-width: 1400px;

  &__topBar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px;
    height: 140px;
    padding: $paddingSmall $paddingExtraLarge;
  }

  &__arrowContain {
    @extend %neumorphism;
    @include flexboxCenter();
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:active {
      @extend %neumorphismActive;
    }
  }

  &__name {
    padding: $paddingSmall 0;
  }
}

.content {
  display: flex;
  width: 100%;
  height: calc(100% - 140px);
  justify-content: space-around;
  padding: $paddingMedium;
  margin-top: 140px;
  gap: 20px;
}

.InfoCard__name {
  @extend %heading;
  color: #f7931a;
  text-align: center;
}

.InfoCard__container {
  @extend %neumorphism;
  position: relative;
  border-radius: 100%;
  width: 120px;
  height: 120px;

  &::after {
    @extend %neumorphism;
    content: "";
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px;
  }
}

.InfoCard__imgContain {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
  background-color: red;
  z-index: 2;

  img {
    display: block;
  }
}
// smartphone
@media screen and (max-width: 767px) {
  .InfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__topBar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    &__profile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__preferiti {
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      padding: 5px;
      position: relative;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      padding: 10px;
    }

    &__preferitiTitle {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__containCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      justify-content: center;
    }

    &__charts {
      width: 400px;
      height: 350px;
      background-color: $background-main;
      border-radius: rem(20px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__info {
      padding: 10px;
      padding: 10px;
      height: 250px;
      width: 400px;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__pName {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      margin: 20px;
    }

    &__description {
      margin-left: 20px;
      width: 80%;
    }

    &__cardContain {
      display: none;
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: end;
    }

    &__cryptoList {
      width: 400px;
      height: 200px;
      padding: 20px;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      overflow-x: auto;
      margin-right: 20px;
      display: flex;
      gap: 20px;
    }
  }
}

// Ipad
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .InfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__topBar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    &__profile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__preferiti {
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      padding: 5px;
      position: relative;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      padding: 10px;
    }

    &__preferitiTitle {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__containCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      justify-content: center;
    }

    &__charts {
      margin-left: 20px;
      width: 650px;
      height: 350px;
      background-color: $background-main;
      border-radius: rem(20px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__info {
      padding: 10px;
      padding: 10px;
      height: 200px;
      width: 600px;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__pName {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      margin: 20px;
    }

    &__description {
      margin-left: 20px;
      width: 80%;
    }

    &__cardContain {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: end;
    }

    &__cryptoList {
      width: 700px;
      height: 200px;
      padding: 20px;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      overflow-x: auto;
      margin-right: 20px;
      display: flex;
      gap: 30px;
    }
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .InfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $paddingMedium;

    &__topBar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    &__profile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__preferiti {
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      padding: 5px;
      position: relative;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      padding: 10px;
    }

    &__preferitiTitle {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__containCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__charts {
      width: 700px;
      height: 450px;
      background-color: $background-main;
      border-radius: rem(20px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__info {
      width: 300px;
      height: 450px;
      padding: $paddingMedium;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
    }

    &__pName {
      background: linear-gradient(242deg, #e49be6 0%, #a6c4ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__description {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    &__cardContain {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;
    }

    &__cryptoList {
      width: 500px;
      height: 300px;
      padding: 10px;
      background-color: $background-main;
      border-radius: rem(10px);
      box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
      transition: box-shadow 0.4s ease-in-out;
      outline: none;
      overflow-y: auto;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__otherCrypto {
      width: 500px;
      margin-bottom: 10px;
    }
  }
}
