.outerContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: $paddingSmall;
  gap: 30px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.container {
  @include neumorphism;
  width: 100%;
  height: auto;
  padding: $paddingMedium 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  background-color: rgba(250, 250, 250, 0.784);
}

.title1 {
  font-size: 1.5em;
  color: #333;
  @include backgroundTitleGradientColor;
}
.title {
  font-size: 1.5em;
  color: #333;
  @include backgroundTitleGradientColor;
}
.info,
.process {
  font-size: 1em;
  color: #666;
  line-height: 1.5em;
}

.subtitle {
  font-size: 1em;
  color: #333;
  @include backgroundTitleGradientColor;
}
.subtitle2 {
  font-size: 1em;
  color: #333;
  @include backgroundTitleGradientColor;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $paddingSmall;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pIcon {
  @include neumorphism;
  @include backgroundTitleGradientColor;
  padding: 10px;
  font-weight: 700;
}

.iconContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;

  .imageContainer {
    @include neumorphism;
    width: 105px;
    height: 130px;
    gap: 10px;

    @media (max-width: 600px) {
      width: 100px;
      height: 120px;
    }
  }
}

// team container
.teamContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (max-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.teamContainer {
  @media (max-width: 600px) {
    height: auto;
  }
}
