.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerCircle {
  background: #ECF0F3;
  border-radius: 50%;
 
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  -10px -10px 20px #C8D1DA, 
                10px 10px 20px #ffffff;
}

.innerCircle {
  background: #ECF0F3;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:   inset -5px -5px 10px #C8D1DA, 
                inset 5px 5px 10px #ffffff;
}
.hamburgerButton, .searchButton {
  background: #ECF0F3;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 10%;
  box-shadow:  -10px -10px 20px #C8D1DA, 
                10px 10px 20px #ffffff;
  outline: none;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 70px; 
}

.hamburgerButton:active, .searchButton:active {
  box-shadow: inset -5px -5px 10px #C8D1DA, 
              inset 5px 5px 10px #ffffff;
}


.logo {
  width: 100px;
  height: auto;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.neumorphicButton {
  background: #ECF0F3;
  border: none;
  border-radius: 10%;
  box-shadow:  -10px -10px 20px #C8D1DA, 
                10px 10px 20px #ffffff;
  transition: all 0.5s ease-in-out;
  outline: none;
  padding: 10px;
}

.neumorphicButton:active {
  box-shadow: inset -5px -5px 10px #C8D1DA, 
              inset 5px 5px 10px #ffffff;
}
.heading1 {
  font-size: 1.5em;
  text-align: center;
  color:#154162
}

.heading2 {
  font-size: 1em;
  margin-top: 30px;
  margin-left: 40px;
  color:#154162
}

.videoContainer{
  width: 100%;  
  margin-top: 30px;
  overflow-x: scroll;
  display: flex;

  .video{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECF0F3;
    padding: 60px;
    margin-left: 40px;
    border-radius: 20px;
    outline: none;
  }
}


// Media Query per visualizzazione mobile
@media (max-width: 768px) {
  .outerCircle {
    padding: 30px;
  }

  .innerCircle {
    padding: 30px;
  }

  .logo {
    width: 70px;
  }
}