* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

html,
body {
  max-width: 100vw;
  min-width: 370px;
  height: 100vh;
  max-height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: $background-main;
  color: $btn-main;
}

#__next {
  @include flexboxCenter();
  align-items: flex-start;
  height: auto;
  max-height: 100%;
}

h1 {
  font-size: rem($heading1);
  @extend %heading;
}

h2 {
  font-size: rem($subHeading1);
  @extend %heading;
}

h3 {
  font-size: rem($heading2);
  @extend %heading;
}

p {
  @extend %paragraph;
}

a,
input,
button {
  cursor: pointer;
  transition: color 0.25s ease;
}

a {
  &:hover {
    color: colorShade(white, $btn-main, 40%);
  }
}

input[type="submit"]:hover {
  color: colorShade(white, $btn-main, 40%);
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  #__next {
    width: 100vw;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
}
