
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    gap: 25px;

    &__myBalance {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
      border-radius: 30px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 100%;

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__title {
          font-weight: 600;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
          border-radius: 12px;
          padding: 5px 10px
        }

        &__wallet {
          font-weight: 600;
        }
      }

      &__chart {
        width: 200px;
      }
    }

    &__categories {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 15px;

      &__crypto_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        overflow-x: auto;
        padding: 5px;

        &__card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
          border-radius: 10px;
          gap: 10px;

          &__title {
            font-weight: 600;
          }
        }
      }
    }
  }
