@media screen and (max-width: 767px) {
    .homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ECF0F3;
    
    .menu{
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        border-radius: 10px;
        padding: 10px;
        width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    }

    .logo_contain{
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        border-radius: 100px;
        padding: 10px
        
    }

    .logo{
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        border-radius: 100px;
        padding: 10px
    }

    .search{
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        border-radius: 10px;
        padding: 10px;
        width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    }

    .menu_contain{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
    }

    .my_balance_contain{
        height: 200px;
        width: 90vw;
        border-radius: 40px;
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .my_balance{
        height: 50px;
        width: 200px;
        border-radius: 40px;
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        text-align: center;
    }

    .categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        padding: 20px 50px;
        width: 100%;
        cursor: pointer;
    }
    .crypto_list{
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        width: 150px;
        height: 100px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mover_principali{
        padding: 20px;
    }

    
    .balance_list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .crypto{
        height: 150px;
        width: 90vw;
        border-radius: 40px;
        background: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .info_cripto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .image_crypto{
        width: 50px;
        height: 50px;
        
    }

    .info_cripto h4{
        font-size: 20px;
    }

    .price_info{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .arrow_contain{
        background-color: #ecf0f3;
        box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
        border-radius: 5px;
    }

.negative{
        gap: 10px;
        display: flex;
        font-size: 13px;
        color: #d98471;
    }

    .positive{
        gap: 10px;
        display: flex;
        font-size: 13px;
        color: #6fc675;
    }

  }

}
