.main {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    color: $btn-main;
    width: 409px;
    margin: 0 auto;

    &__title {
      padding: 30px;
    }

    &__login {
      // border: 1px solid red;
      border-radius: 15px;
      height: 500px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      width: 80%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        &__email {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__input {
            height: 30px;
            border-radius: 8px;
          }
        }

        &__password {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__input {
            height: 30px;
            border-radius: 8px;
          }
        }

        &__submit {
          padding: 10px 25px;
          border-radius: 50px;
          background-color: $btn-secondary;
          border: none;
          -webkit-box-shadow: 13px 9px 8px 0px rgba(158, 158, 158, 0.57);
          box-shadow: 13px 9px 8px 0px rgba(158, 158, 158, 0.57);
        }
      }

      &__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        &__title {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          &__h3 {


            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 50px;
              border: 1px solid #8e8e8e;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              width: 50px;
              border: 1px solid #8e8e8e;
            }
          }
        }
      }

      &__sing_in {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        &__title {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          &__h3 {


            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 20px;
              border: 1px solid #8e8e8e;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              border: 1px solid #8e8e8e;
            }
          }
        }

        &__btn {
          padding: 10px 25px;
          border-radius: 50px;
          border: none;
          background-color: $btn-secondary;
          -webkit-box-shadow: 13px 9px 8px 0px rgba(158, 158, 158, 0.57);
          box-shadow: 13px 9px 8px 0px rgba(158, 158, 158, 0.57);
        }
      }
    }


  }
}