.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

    button {
      width: 104px;
      height: 30px;
      margin-top: 20px;
      @extend %neumorphism;
      border: none;
      z-index: 9;

      &:active {
        @extend %neumorphismActive;
      }
    }
  }
  .__functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;

    button {
      width: 104px;
      height: 30px;
      margin-top: 20px;
      @extend %neumorphism;
      border: none;
      z-index: 9;

      &:active {
        @extend %neumorphismActive;
      }
    }
  }
}

//media query TABLETS & LAPTOPS
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    .__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 14px;

      button {
        width: 104px;
        height: 30px;
        margin-top: 18px;
      }
    }
    .__functions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 44px;

      button {
        width: 104px;
        height: 30px;
        margin-top: 20px;
      }
    }
  }
}

//media query DESKTOP
@media screen and (min-width: 1024px) {
  .Profile {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    gap: 20px;
    margin-top: 1em;
    width: 100vw;

    .__container {
      display: flex;
      /* border: solid red 2px; */
      width: 90%;
      .__desktopLeftWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid violet 2px; */
        width: 75%;
        .__options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 14px;

          button {
            width: 104px;
            height: 30px;
            margin-top: 20px;
            border: none;
          }
        }
        .__functions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 44px;

          button {
            width: 104px;
            height: 30px;
            margin-top: 20px;
            border: none;
          }
        }
      }
      .__desktopRightWrapper {
        display: flex;
        flex-direction: column;
        /* border: solid rgb(224, 192, 49) 2px; */
        width: 25%;
      }
    }
  }
}
