.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .__container {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
    width: 90%;

    .__desktopLeftWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: solid violet 2px; */
      width: 90%;

      .__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 14px;

        button {
          width: 104px;
          height: 30px;
          margin-top: 20px;
          @extend %neumorphism;
          border: none;

          &:active {
            @extend %neumorphismActive;
          }
        }
      }

      .__functions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 44px;

        button {
          width: 104px;
          height: 30px;
          margin-top: 20px;
          @extend %neumorphism;
          border: none;

          &:active {
            @extend %neumorphismActive;
          }
        }
      }
    }

    .__desktopRightWrapper {
      display: none;
    }
  }
}

//media query TABLETS & LAPTOPS
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    .__container {
      display: flex;
      /* border: solid red 2px; */
      width: 90%;

      .__desktopLeftWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid violet 2px; */
        width: 90%;

        .__options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 14px;

          button {
            width: 104px;
            height: 30px;
            margin-top: 18px;
          }
        }

        .__functions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 44px;

          button {
            width: 104px;
            height: 30px;
            margin-top: 20px;
          }
        }
      }

      .__desktopRightWrapper {
        display: none;
      }
    }
  }
}

//media query DESKTOP
@media screen and (min-width: 1024px) {
  .Profile {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    gap: 20px;
    width: 100%;

    .__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      /* border: solid red 2px; */
      width: 100%;

      .__desktopLeftWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid violet 2px; */
        width: 70%;

        .__options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 14px;

          button {
            width: 104px;
            height: 45px;
            margin-top: 20px;
            border: none;
          }
        }

        .__functions {
          /* display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 44px; */
          display: none;

          button {
            /* width: 104px;
            height: 45px;
            margin-top: 20px; */
            border: none;
          }
        }
      }

      .__desktopRightWrapper {
        display: flex;
        flex-direction: column;
        /* border: solid rgb(224, 192, 49) 2px; */
        width: 25%;

        .__functionsRight {
          display: flex;
          justify-content: space-around;
          align-items: center;

          button {
            width: 104px;
            height: 45px;
            margin-top: 20px;
            background-color: $background-main;
            border-radius: rem(10px);
            box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
            transition: box-shadow 0.4s ease-in-out;
            outline: none;
            border: none;
            z-index: 9;

            &:active {
              box-shadow: inset -5px -5px 10px #c8d1da,
                inset 5px 5px 10px #ffffff;
            }
          }
        }
      }
    }
  }
}
