.teamPage {
  @include neumorphism;
  @include flexboxCenter();
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 15px;

  @media (min-width: 601px) {
    padding: 0 $paddingSmall;
  }
}

.backArrow {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: auto;
  padding: $paddingSmall;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (max-width: 600px) {
    img {
      width: 200px;
      height: 200px;
    }
    align-items: center;
  }
}

.topContainer,
.bottomContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (max-width: 600px) {
    align-items: center;
  }
}
.textContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (max-width: 600px) {
    .description {
      width: 100%;
      height: auto;
      max-height: 150px;
      padding: $paddingExtraSmall;
      overflow-y: scroll;
    }
  }
  strong {
    text-align: center;
    display: block;
  }

  p {
    height: 100%;
    text-align: center;
  }

  h2 {
    font-size: rem(26px);
  }

  @media (max-width: 600px) {
    align-items: center;
    text-align: center;
    margin-left: -20px;
  }
}

.title {
  @extend %backgroundTitleGradientColor;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  strong {
    text-align: center;
    display: block;
  }

  p {
    text-align: center;
  }

  @media (max-width: 600px) {
    align-items: center;
  }
}
.button {
  display: inline-block;
  @extend %backgroundTitleGradientColor;
  font-weight: 600;
  padding: 14px 20px;
  margin: 20px 2px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  @include neumorphism;
}
