.teamPage{
    background-color: rgba(250, 250, 250, 0.784);
    @include neumorphism;
    margin: 20px;
}

.backArrow{
    margin-left: 20px;
    width: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 600px) {
        align-items: center;
    }
}

.topContainer, .bottomContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
        align-items: center;
    }
}
.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
     margin-top: 20px;
     
    }

    @media (max-width: 600px) {
        align-items: center;
        text-align: center;
        margin-left: -20px;
    }
}
.title {
    @extend %backgroundTitleGradientColor;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    @media (max-width: 600px) {
        align-items: center;
    }
}
.button {
    display: inline-block;
    @extend %backgroundTitleGradientColor;
    font-weight: 600;
    padding: 14px 20px;
    margin: 20px 2px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    @include neumorphism;

}
