.cardArgomentContainer {
  max-height: 450px;
  overflow-y: scroll;
  margin-top: 0px;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }

}


.cardArgoment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 30px auto;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px;
  background: #ECF0F3;
  box-shadow: -10px -10px 20px #C8D1DA, 10px 10px 20px #ffffff;

}


.lessonArgoment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #7e7f80;
  font-size: 12px;

  .topic {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .lessonCount {
    font-size: 16px;
    color: #7e7f80;
  }
}

.progressArgoment {
  display: flex;
  align-items: center;
  margin-left: 0px;

  .progressPercent {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
  }

  img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}