.Card,
.Negative {
  @extend %neumorphism;
  width: 100%;
  height: 160px;
  gap: 15px;
  padding: 5px;
  border-radius: rem(10px);
  cursor: pointer;

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__title {
      font-weight: 500;
      font-size: rem(18px);
      text-align: center;
    }

    &__balance {
      display: flex;
      justify-content: center;
      align-items: center;

      &__negative {
        color: red;
      }

      &__positive {
        color: rgb(35, 209, 35);
      }

      &__p {
        font-size: 15px;
      }
    }
  }

  &__chart {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .Negative {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 48%,
      rgba(255, 141, 141, 0.4023984593837535) 100%,
      rgb(250 178 178 / 58%) 100%
    );
    outline: none;
    transition: box-shadow 0.4s ease-in-out;
  }

  .Card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 8px 8px 14px #c6cacc, -8px -8px 14px #ffffff;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 48%,
      rgba(181, 255, 141, 0.4023984593837535) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    outline: none;
    transition: box-shadow 0.4s ease-in-out;

    &__image {
      width: 50px;
      aspect-ratio: 1;
    }

    &__chart {
      width: 50%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .Negative {
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 48%,
      rgba(255, 141, 141, 0.4023984593837535) 100%,
      rgb(250 178 178 / 58%) 100%
    );
    outline: none;
    transition: box-shadow 0.4s ease-in-out;
  }

  .Card {
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 48%,
      rgba(181, 255, 141, 0.4023984593837535) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    outline: none;
    transition: box-shadow 0.4s ease-in-out;

    &__image {
      width: 80px;
      aspect-ratio: 1;
    }

    &__chart {
      width: auto;
    }
  }
}
