.Navbar {
  width: 100%;
  min-width: 370px;
  height: rem(160px);
  @include flexboxCenter();
  padding: rem($paddingSmall);
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background-main;
  z-index: 1;
}

.container {
  @extend %neumorphism;
  @include flexboxCenter;
  width: rem(65px);
  height: rem(55px);
  padding: rem($paddingSmall);
  border-radius: $roundedMedium;
  cursor: pointer;

  &:active {
    @extend %neumorphismActive;
  }

  svg {
    width: rem(30px);
    height: rem(30px);
  }
}

.logo {
  @extend %neumorphism;
  width: rem(120px);
  height: rem(120px);
  padding: rem($paddingExtraLarge);
  position: relative;
  border-radius: 100%;

  &::after {
    @extend %neumorphism;
    content: "";
    position: absolute;
    width: rem(70px);
    height: rem(70px);
    border-radius: 100%;
    background-color: transparent;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.burger {
  @extend %neumorphism;
  width: 300px;
  height: auto;
  max-height: calc(100vh - rem(50px));
  position: absolute;
  top: 40px;
  left: 0;
  padding: $paddingSmall;
  border-radius: $roundedMedium;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .Navbar {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Navbar {
    justify-content: center;
    gap: rem(100px);
  }
}

@media screen and (min-width: 1024px) {
  .Navbar {
    justify-content: center;
    gap: rem(100px);
  }
}
