.Sidebar {
  width: rem(85px);
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: $paddingLarge $paddingSmall;
  box-shadow: 2px 0px 10px 5px rgb(202, 202, 202);
  background-color: $background-main;
  transition: all 0.5s ease-in-out;
  border-radius: rem(10px);
}

.label {
  display: none;
  width: auto;
  transition: all 0.25s ease;
}

.fadein {
  transition: all 0.4s ease 0.15s;
  opacity: 0;
}

.container {
  width: auto;
  height: 100%;
  margin-top: rem(30px);
}

.wrapper {
  @include flexboxCenter();
  width: auto;
  justify-content: flex-start;
}

.icon {
  @include flexboxCenter();
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.profileText {
  @include flexboxCenterColumn();
  align-items: flex-start;
  width: auto;
  height: 100%;
  gap: rem(14px);

  &__name {
    @extend %heading;
    height: 50%;
  }

  &__accountType {
    @extend %paragraphBold;
    height: 50%;
    font-size: $paragraphExtraSmall;
    text-transform: uppercase;
  }
}

.menuList {
  width: 100%;
  height: auto;
  margin-top: rem(30px);

  li {
    cursor: pointer;
  }
}

.menuList__wrapper {
  @include flexboxCenter();
  @extend %paragraphBold;
  width: 100%;
  height: rem(45px);
  margin-bottom: rem(20px);
  justify-content: flex-start;
  padding: $paddingExtraSmall 0;
  font-size: $paddingSmall;

  .content {
    @extend %paragraphBold;
    height: 100%;
    font-size: $paragraphSmall;
    color: $text;
  }
}

.selected {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: rem(58px);
    height: rem(45px);
    border: 2px solid $icon-primary;
    border-radius: rem(10px);
    box-shadow: 2px 2px 8px 4px rgba(202, 202, 202);
    transition: all 0.4s ease-in-out;
  }
}

// mobile
@media screen and (max-width: 767px) {
  .Sidebar {
    display: none;
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

//desktop
@media screen and (min-width: 1024px) {
  .Sidebar {
    &:hover {
      width: rem(300px);
      max-width: rem(400px);

      .label {
        display: unset;
        padding-left: $paddingSmall;
      }

      .wrapper {
        width: rem(230px);
      }

      .container {
        width: rem(230px);
      }

      .content {
        @include flexboxCenter();
      }

      .fadein {
        opacity: 1;
      }

      .selected {
        width: 100%;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
