.Search {
  width: 100%;
  height: auto;
}

.container {
  z-index: 4;
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  img {
    display: block;
  }
}

.closeBtn {
  @extend %neumorphism;
  width: rem(65px);
  height: rem(55px);
  border: none;
  cursor: pointer;

  &:active {
    @extend %neumorphismActive;
  }

  img {
    margin: 0 auto;
  }
}

.input {
  @extend %neumorphism;
  @extend %paragraphBold;
  width: calc(300px - 75px);
  height: rem(55px);
  padding: 0 $paddingSmall;
  line-height: rem(20px);
  border: none;
  cursor: pointer;
}

.submitBtn {
  @extend %neumorphism;
  display: flex;
  position: relative;
  width: rem(65px);
  height: rem(55px);
  cursor: pointer;
  border: none;

  &:active {
    @extend %neumorphismActive;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.searchResults {
  @extend %neumorphism;
  width: 100%;
  height: auto;
  padding: $paddingExtraSmall $paddingSmall;
  background-color: $background-main;
  z-index: 3;
}

.card {
  @include flexboxCenter;
  @extend %neumorphism;
  padding: $paddingExtraSmall $paddingSmall;
  justify-content: flex-start;
  margin-top: rem(15px);
  margin-bottom: rem(15px);

  .image {
    @include flexboxCenter;
    @extend %neumorphism;
    border-radius: 100%;
    width: 45px;
    height: 45px;

    img {
      width: 35px;
      height: 35px;
    }
  }
  .text {
    @extend %paragraphBold;
    padding-left: $paddingMedium;
  }
}

.searchIcon {
  display: none;
}

@media screen and (max-width: 767px) {
  .Search {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// tablet and desktop
@media screen and (min-width: 768px) {
  .Search {
    width: 350px;
  }

  .input {
    width: 100%;
  }

  .searchIcon {
    display: unset;
    position: absolute;
    right: rem(10px);
    top: 50%;
    transform: translateY(-50%);
  }

  .closeBtn {
    display: none;
  }

  .searchResults {
    position: absolute;
    width: 350px;
    margin-top: rem(10px);
  }
}
