.Search {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.closeBtn {
  @extend %neumorphism;
  width: rem(65px);
  height: rem(55px);
  border: none;
  cursor: pointer;
  z-index: 99;

  &:active {
    @extend %neumorphismActive;
  }
}

.input {
  @extend %neumorphism;
  @extend %paragraphBold;
  width: calc(300px - 75px);
  height: rem(55px);
  padding: 0 $paddingSmall;
  line-height: rem(20px);
  border: none;
  cursor: pointer;
}

.submitBtn {
  @extend %neumorphism;
  display: flex;
  position: relative;
  width: rem(65px);
  height: rem(55px);
  cursor: pointer;
  border: none;

  &:active {
    @extend %neumorphismActive;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.searchResults {
  @extend %neumorphism;
  width: 100%;
  height: auto;
  padding: $paddingExtraSmall $paddingSmall;
  background-color: $background-main;
}

.card {
  @include flexboxCenter;
  @extend %neumorphism;
  padding: $paddingExtraSmall $paddingSmall;
  justify-content: flex-start;
  margin-top: rem(15px);
  margin-bottom: rem(15px);

  .image {
    @include flexboxCenter;
    @extend %neumorphism;
    border-radius: 100%;
    width: 45px;
    height: 45px;

    img {
      width: 35px;
      height: 35px;
    }
  }
  .text {
    @extend %paragraphBold;
    padding-left: $paddingMedium;
  }
}
