.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.Sidebar {
  width: 85px;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: rem(10px);
}

.content {
  width: 100%;
  padding: 0 $paddingSmall;
}

.header {
  @include flexboxCenter();
}

//  mobile
@media screen and (max-width: 767px) {
  .Sidebar {
    display: none;
  }

  .header {
    display: none;
  }

  .content {
    height: 100%;
    min-width: 370px;
    margin-top: rem(140px);
    margin-bottom: rem(80px);
    margin-left: 0;
    padding-bottom: 0;
  }
}

//tablet and desktop
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: $background-main;
    z-index: 1;
  }

  .content {
    width: calc(100% - 90px);
    max-width: calc(1400px - 85px);
    height: auto;
    max-height: 100%;
    padding-top: 90px;
  }
}
