.content {
  margin-top: rem(80px);
  margin-bottom: 0;
  margin-left: rem(100px);
  padding-bottom: $paddingLarge;
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    min-width: 370px;
    margin-top: rem(140px);
    margin-bottom: rem(80px);
    margin-left: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
