.Sidebar {
  width: 85px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

.content {
  width: 100%;
  height: calc(100% - 100px);
  margin-top: rem(100px);
  margin-bottom: 0;
  padding: $paddingLarge;
}

.Search {
  @include flexboxCenter();
}

//  mobile
@media screen and (max-width: 767px) {
  .Sidebar {
    display: none;
  }

  .Search {
    display: none;
  }

  .content {
    height: 100%;
    min-width: 370px;
    margin-top: rem(140px);
    margin-bottom: rem(80px);
    margin-left: 0;
    padding-bottom: 0;
  }
}

//tablet and desktop
@media screen and (min-width: 768px) {
  .Search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: $background-main;
    z-index: 1;
  }

  .content {
    max-width: calc(1400px - 85px);
  }
}
