$background-main: #ecf0f3;

// Button colors
$btn-main: #154162;
$btn-secondary: #ecf0f3;
$btn-secondary2: #f196eb;
$btn-secondary3: #2c9df2;

// State colors
$state-error: #d98471;
$state-warning: #e7c169;
$state-success: #6fc675;
$state-info: #73b0eb;
