// padding
$paddingExtraLarge: 40px;
$paddingLarge: 24px;
$paddingMedium: 18px;
$paddingSmall: 12px;
$paddingExtraSmall: 6px;

// da usare con border-radius
$roundedLarge: 32px;
$roundedMedium: 16px;
$roundedSmall: 8px;
$roundedExtraSmall: 4px;
