.MyBalance {
  height: 250px;
  width: 90vw;
  border-radius: 30px;
  background: #ecf0f3;
  box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
}

//media query TABLETS & LAPTOPS
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .MyBalance {
    height: 440px;
    width: 90vw;
    margin-bottom: 7px;
  }
}

//media query DESKTOP
@media screen and (min-width: 1024px) {
  .MyBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 375px;
    width: 100%;
    border-radius: 30px;
    background: #ecf0f3;
    box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      font-size: larger;
    }
  }
}