.MyBalance {
  height: 250px;
  width: 90vw;
  border-radius: 30px;
  background: #ecf0f3;
  box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;

  .__h1MyBalance {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#e49be6, #719ae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .__h2Bentornato {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
}

//media query TABLETS & LAPTOPS
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .MyBalance {
    height: 440px;
    width: 90vw;
    margin-bottom: 7px;

    .__h2Bentornato {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
    }
  }
}

//media query DESKTOP
@media screen and (min-width: 1024px) {
  .MyBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 375px;
    width: 100%;
    border-radius: 30px;
    background: #ecf0f3;
    box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;

    .__h1MyBalance {
      display: none;
    }

    .__h2Bentornato {
      display: flex;
      justify-content: center;
      align-items: center;
      background: -webkit-linear-gradient(#e49be6, #719ae9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      font-size: larger;
    }
  }
}
