.HistoryTransactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  height: 60vh;
  width: 22vw;
  border-radius: 30px;
  background: #ecf0f3;
  box-shadow: 7px 7px 16px #b8b8b8, -7px -7px 16px #ffffff;
  overflow-y: hidden;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .__assets {
    display: flex;
    margin-top: 20px;
    padding: 18px;
    width: 96%;
    border-radius: 28px;
    background: #ecf0f3;
    box-shadow: 14px 14px 28px #cbced1, -14px -14px 28px #ffffff;

    .__singleAsset {
      display: flex;

      .__details {
        display: flex;

        .__left {
          ul {
            line-height: 2em;

            li {
              font-weight: bolder;
              word-spacing: 10px;

              span {
                color: green;
                margin-left: 27px;
              }
            }
          }
        }

        .__right {
          display: flex;
          justify-content: flex-end;
          margin-left: 6rem;
          font-weight: bolder;
        }
      }
    }
  }
}

//only Desktop
