.cryptovalutes {
  width: 100%;
  height: 100%;
  padding: 0 15px;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }

  &__arrowIcon {
    cursor: pointer;
  }

  &__list {
    @extend %neumorphism;
    width: 600px;
    height: calc(100vh - 200px);
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 767px) {
  .cryptovalutes {
    padding: 0 5px;

    &__list {
      height: calc(100vh - 300px);
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
